global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /

##
# Minecraft
#
frontend fe_minecraft
    bind *:25565
    mode tcp
    default_backend be_minecraft
backend be_minecraft
    mode tcp
    balance roundrobin
    server server1 172.16.17.164:25565 check


##
# Kubernetes API 6443
#
frontend fe_k8s_api
    bind *:6443
    mode tcp
    default_backend be_k8s_api
backend be_k8s_api
    mode tcp
    server master1 172.16.17.100:6443 check
    server master2 172.16.17.101:6443 check
    server master3 172.16.17.102:6443 check

##
# HTTP traffic
#
frontend fe_http
    bind *:80
    mode http

    acl app_cloud       hdr(host) -i cloud.hahl.id.au 
    acl app_auth        hdr(host) -i auth.hahl.id.au 
    acl app_k8s_ingress hdr(host) -m end .apps.k8s.hahl.id.au

    # Redirect cloud/auth to https
    redirect scheme https code 301 if app_cloud
    redirect scheme https code 301 if app_auth

    # Default backend to 
    use_backend be_http_k8s_ingress if app_k8s_ingress 

##
# HTTPS Traffic
#
frontend fe_https
    bind *:443
    mode tcp

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend be_https_cloud        if { req_ssl_sni -i cloud.hahl.id.au }
    use_backend be_https_k8s_ingress  if { req_ssl_sni -i auth.hahl.id.au }
    use_backend be_https_k8s_ingress  if { req_ssl_sni -i login.k8s.hahl.id.au }
    use_backend be_https_k8s_ingress  if { req.ssl_sni -m end .apps.k8s.hahl.id.au }

##
# cloud.hahl.id.au
#
backend be_https_cloud
    mode tcp
    balance roundrobin
    server cloud_1 172.16.17.182:443 check

##
# *.apps.k8s.hahl.id.au
#
backend be_https_k8s_ingress
    mode tcp
    balance roundrobin
    server worker1 172.16.17.103:443 check
    server worker2 172.16.17.104:443 check
    server worker3 172.16.17.105:443 check

backend be_http_k8s_ingress
    mode http
    balance roundrobin
    server worker1 172.16.17.103:80 check
    server worker2 172.16.17.104:80 check
    server worker3 172.16.17.105:80 check
