global_defs {
  notification_email {
    disabled
  }
  garp_master_refresh 60
  script_user root root
  enable_script_security
}

vrrp_script chk_lb {
  script "/usr/libexec/keepalived/lb-check"
  interval 2
  weight 2
}


vrrp_script chk_squid {
  script "/usr/libexec/keepalived/squid-check"
  interval 2
  weight 2
}

vrrp_instance VI_LB {
  interface {{keepalived_interface_lb | default("eth0")}}
  state MASTER
  virtual_router_id 63
  priority 100
  virtual_ipaddress {
    {{keepalived_vip_lb}}
  }
  track_script {
    chk_lb
  }
}

vrrp_instance VI_SQUID {
  interface {{keepalived_interface_squid | default("eth0")}}
  state MASTER
  virtual_router_id 64
  priority 100
  virtual_ipaddress {
    {{keepalived_vip_squid}}
  }
  track_script {
    chk_squid
  }
}

