zone "hahl.au" IN {

{% if 'ext-ns-master' in group_names %}    
	type master;

	notify yes;

        allow-transfer { {{ groups['ext-ns-slaves'] | map('extract', hostvars, ['ansible_eth0', 'ipv4', 'address']) | join(';') }}; };
        also-notify { {{ groups['ext-ns-slaves'] | map('extract', hostvars, ['ansible_eth0', 'ipv4', 'address']) | join(';') }}; };
	update-policy {
		grant hahl-ddns-key zonesub ANY;
	};
{% endif %}

{% if 'ext-ns-slaves' in group_names %}    
	type slave;
        masterfile-format text;
        masters { {{ groups['ext-ns-master'] | map('extract', hostvars, ['ansible_eth0', 'ipv4', 'address']) | join(';') }}; };
{% endif %}

	file "named.hahl.au";
};
