$TTL 3H
$ORIGIN hahl.au.
@   IN SOA  hahl.au. hostmaster.hahl.au. (
                {{serial.stdout}}   	; serial
                3H  			; refresh
                1H  			; retry
                1W  			; expire
                3H )    		; minimum

@            IN   NS     ns1.hahl.au.
@            IN   NS     ns2.hahl.au.
@            IN   NS     ns3.hahl.au.
@            IN   A      127.0.0.1

; the in-zone name server(s) have an A record   
ns1          IN   A      194.195.125.117
ns2          IN   A      96.126.107.170
ns3          IN   A      172.105.20.36

;; A Records
api.ocp.hahl.au.		1	IN	A	27.50.95.203
*.apps.ocp.hahl.au.		1	IN	A	27.50.95.203
cloud.hahl.au.			1	IN	A	27.50.95.203
deploy.hahl.au.			1	IN	A	10.0.0.28
ipa-ca.auth.hahl.au.		3600	IN	A	172.16.16.20
mc.hahl.au.			1	IN	A	117.120.9.109
remote.hahl.au.			1	IN	A	117.120.9.108
syd-bootstrap-01.ocp.hahl.au.	1	IN	A	172.16.17.15
syd-desktop-01.vdi.hahl.au.	1	IN	A	172.16.19.40
syd-dev-01.dmz.hahl.au.		1	IN	A	10.0.0.93
syd-gluster-01.apps.hahl.au.	1	IN	A	172.16.18.20
syd-gluster-02.apps.hahl.au.	1	IN	A	172.16.18.21
syd-gluster-03.apps.hahl.au.	1	IN	A	172.16.18.22
syd-gluster-vip.apps.hahl.au.	1	IN	A	172.16.18.23
syd-guacamole-01.dmz.hahl.au.	1	IN	A	10.0.0.30
syd-guacd-01.vdi.hahl.au.	1	IN	A	172.16.19.30
syd-gucamole-01.dmz.hahl.au.	1	IN	A	10.0.0.30
syd-ipa-01.auth.hahl.au.	1	IN	A	172.16.16.20
syd-ipa-02.auth.hahl.au.	1	IN	A	172.16.16.21
syd-ipa-03.auth.hahl.au.	1	IN	A	172.16.16.22
syd-lb-01.dmz.hahl.au.		1	IN	A	10.0.0.41
syd-lb-02.dmz.hahl.au.		1	IN	A	10.0.0.42
syd-lb-03.dmz.hahl.au.		1	IN	A	10.0.0.43
syd-lb-vip.dmz.hahl.au.		1	IN	A	10.0.0.40
syd-lb-vip.ext.hahl.au.		1	IN	A	27.50.95.203
syd-master-01.ocp.hahl.au.	1	IN	A	172.16.17.21
syd-master-02.ocp.hahl.au.	1	IN	A	172.16.17.22
syd-master-03.ocp.hahl.au.	1	IN	A	172.16.17.22
syd-mc-01.dmz.hahl.au.		1	IN	A	10.0.0.15
syd-proxy-01.dmz.hahl.au.	1	IN	A	10.0.0.20
syd-proxy-02.dmz.hahl.au.	1	IN	A	10.0.0.21
syd-proxy-vip.dmz.hahl.au.	1	IN	A	10.0.0.22
syd-worker-01.ocp.hahl.au.	1	IN	A	172.16.17.31
syd-worker-02.ocp.hahl.au.	1	IN	A	172.16.17.32
syd-worker-03.ocp.hahl.au.	1	IN	A	172.16.17.32
syd-vault-01.apps.hahl.au.	500	IN	A	172.16.18.25
vpn.hahl.au.			1	IN	A	117.120.9.108

ntp01.hahl.au.		500	IN	A	10.0.0.20
ntp02.hahl.au.		500	IN	A	10.0.0.21

;; CNAME Records
api-int.ocp.hahl.au.	1	IN	CNAME	syd-lb-vip.dmz.hahl.au.
nfs.hahl.au.		1	IN	CNAME	syd-gluster-vip.apps.hahl.au.
proxy.dmz.hahl.au.	1	IN	CNAME	syd-proxy-vip.dmz.hahl.au.
proxy.hahl.au.		1	IN	CNAME	syd-proxy-vip.dmz.hahl.au.
vault.hahl.au	        1	IN	CNAME	syd-lb-vip.ext.hahl.au.

;; MX Records
hahl.au.	1	IN	MX	56 route3.mx.cloudflare.net.
hahl.au.	1	IN	MX	48 route2.mx.cloudflare.net.
hahl.au.	1	IN	MX	91 route1.mx.cloudflare.net.

;; SRV Records
_kerberos-master._tcp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-03.auth.hahl.au.
_kerberos-master._tcp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-02.auth.hahl.au.
_kerberos-master._tcp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-01.auth.hahl.au.
_kerberos-master._udp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-03.auth.hahl.au.
_kerberos-master._udp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-02.auth.hahl.au.
_kerberos-master._udp.auth.hahl.au.	3600	IN	SRV	0 100 88 syd-ipa-01.auth.hahl.au.
_kerberos._tcp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-03.auth.hahl.au.
_kerberos._tcp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-02.auth.hahl.au.
_kerberos._tcp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-01.auth.hahl.au.
_kerberos._udp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-03.auth.hahl.au.
_kerberos._udp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-02.auth.hahl.au.
_kerberos._udp.auth.hahl.au.		3600	IN	SRV	0 100 88 syd-ipa-01.auth.hahl.au.
_kpasswd._tcp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-03.auth.hahl.au.
_kpasswd._tcp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-02.auth.hahl.au.
_kpasswd._tcp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-01.auth.hahl.au.
_kpasswd._udp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-03.auth.hahl.au.
_kpasswd._udp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-02.auth.hahl.au.
_kpasswd._udp.auth.hahl.au.		3600	IN	SRV	0 100 464 syd-ipa-01.auth.hahl.au.
_ldap._tcp.auth.hahl.au.		3600	IN	SRV	0 100 389 syd-ipa-03.auth.hahl.au.
_ldap._tcp.auth.hahl.au.		3600	IN	SRV	0 100 389 syd-ipa-02.auth.hahl.au.
_ldap._tcp.auth.hahl.au.		3600	IN	SRV	0 100 389 syd-ipa-01.auth.hahl.au.
_ntp._udp.hahl.au.			3600	IN	SRV	0 100 123 ntp02.hahl.au.
_ntp._udp.hahl.au.			3600	IN	SRV	0 100 123 ntp01.hahl.au.

;; TXT Records
hahl.au.		300	IN	TXT	"v=spf1 include:_spf.mx.cloudflare.net ~all"
_kerberos.auth.hahl.au.	3600	IN	TXT	"AUTH.HAHL.AU"

;; URI Records
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-03.auth.hahl.au."
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-03.auth.hahl.au."
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-02.auth.hahl.au."
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-02.auth.hahl.au."
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-01.auth.hahl.au."
_kerberos.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-01.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-03.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-03.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-02.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-02.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:udp:syd-ipa-01.auth.hahl.au."
_kpasswd.auth.hahl.au.	3600	IN	URI	0 100 "krb5srv:m:tcp:syd-ipa-01.auth.hahl.au."

;EOF
